<%# partial for comment to be used by the ajax format response for the create method of comments controller %>
<%= div_for comment do %>
	<p>
		<strong> Posted <%= time_ago_in_words(comment.created_at) %> ago </strong>
		<br/>
		<%= comment.body%>
	</p>
<% end %>