<%# capture the erb code into a variable for easy manipulation using jQuery and hide it for now. %>
		var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
<%# prepend the comment to the div with id='comments' %>
		$('#comments').prepend(new_comment);
<%# make the comment visible with a fading effect %>
		$('#comment_<%= @comment.id %>').fadeIn('slow');
<%# reset the existing comment form %>
		$('#new_comment')[0].reset();